body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  #blogForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #blogForm input,
  #blogForm textarea {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  #blogList {
    max-width: 800px;
    margin: 20px auto;
  }
  
  .blog {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .content {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .delete-button {
    background-color: #ff8080;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  